---
layout: page
title: Appearances
---

<h1>Hear me speak</h1>
<h2>2024</h2>
<p> I am sorry, I am currently not speaking anywhere.</p>
<h3>Want to see me at a specific event or hear me in a podcast?</h3>
<p>Let me know via DM on <a href="https://twitter.com/tentaclequing">Twitter aka X</a> or <a href="https://www.linkedin.com/in/gianna-brachetti-truskawa/">LinkedIn</a>.</p>
<h2>Before 2024</h2>
<h3>2022</h3>
<ul>
    <li>BrightonSEO: <a href="https://www.slideshare.net/GiannaBrachettiTrusk/technical-seo-qa-shining-a-light-on-invisible-work-brightonseo-april-2022">TECHNICAL SEO QA - SHINING A LIGHT ON INVISIBLE WORK </a></li>
</ul>
<h3>2021</h3>
<ul> 
    <li>Search with Candour, Episode 106 [Podcast]: <a href="https://podcasters.spotify.com/pod/show/searchwithcandour/episodes/Episode-106-SEO-QA-with-Gianna-Brachetti-Truskawa-eubont">SEO QA</a></li>
</ul>
<h3>2020</h3>
<ul>
    <li>Crawl and Indexation Summit: Crawl Rate Dropping: The Usuals vs. The Oddities</li>
    <li><a href="https://www.termfrequenz.de/podcast/seo-house-podcast/crawling-frequenz-interview-mit-gianna-brachetti-truskawa-seohouse-seo-podcast/">SEOHouse [Podcast], Episode 126</a>: Crawl-Frequenz</li>
</ul>
<h3>2019</h3>
<ul>
    <li>SEOkomm, Salzburg: Pleiten, Pech und Esperanto [reloaded]: Parlez-you hreflang?</li>
</ul>
<h3>2018</h3>
<ul>
    <li>Search Elite, London: AI vs Human Translation in Localization</li>
    <li>International Search Summit, Barcelona: AI vs Human Translation in Localization and Relaunches</li>
    <li>webinale, Berlin: Mach's anders: Warum Du SEO stärker in die meisten Prozesse integrieren sollte</li>
    <li>hallo.digital, Karlsruhe: Mach's anders: Warum Du SEO stärker in die meisten Prozesse integrieren solltest</li> 
    <li>OMWest Barcamp, Köln: Softcore-App-Hijacking</li>
    <li>SEOday, Köln: App-Hijacking: Microsuchsysteme als Alternative zu Google & Co.</li>
    <li>SMX, Munich: Der Relaunch war ein Fail - und jetzt? Schnelle und strukturierte Fehlerfindung beim SEO-Horror-Szenario</li>
        </ul>
<h3>2017</h3>
<ul>
    <li>Searchmetrics Summit, Berlin: Get it Right Internationally: 10 Common hreflang Mistakes</li>
    <li>karlscore, Berlin: Softcore App-Hijacking</li>
</ul>


<section class="list">
    {% for post in site.posts %}
        {% if post.appearances %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>
