---
layout: page
title: Appearances
---

<h1>Hear me speak</h1>
<h2>2024</h2>
<p> I am sorry, I am currently not speaking anywhere.</p>
<h3>Want to see me at a specific event or hear me in a podcast?</h3>
<p>Let me know via DM on <a href="https://twitter.com/tentaclequing"></a>Twitter aka X</a> or <a href="https://www.linkedin.com/in/gianna-brachetti-truskawa/">LinkedIn</a>.</p>
<h2>Before 2024</h2>
<ul 
<li><h3>2022</h3></li>
<li><h3>2021</h3></li>
<li><h3>2020</h3></li>
<li><h3>2019</h3></li>
<li><h3>2018</h3></li>
<li><h3>2017</h3></li>
</ul>


<section class="list">
    {% for post in site.posts %}
        {% if post.appearances %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>
